.login-page h1 {
    font-size: 30px;
    text-align: center; 
    color: black;
    margin-bottom: 50px;
    margin-top: 50px;
}

.login-page h2 {
    color: black;
}

.google-login {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: sccale(0.8);
    transform-origin: top left;;
}

body {
      background-color: #DCD1BE;
}

.others {
    padding-bottom: 16px;
}

span .psw {
    float: right;
    padding: 16px;
}

p {
    text-align: center;
}

input[type="password"],
input[type="email"] {
    width: 500px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 6px auto 16px;
}

.container {
    background-color: #DCD1BE;
    padding-left: 20px;
    color: #4F180B;
}

#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}

button {
    background-color: #4F180B;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    display: block;
}