.menu-page h1 {
    padding-top: 50px;
    color: black;
    text-align: center;
}

.food-nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin: 30px auto;
    padding: 0 20px;
    max-width: 900px;
    color: black;
}

.menu-card {
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}

.menu-card img {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    object-fit: cover;
}

.menu-card p {
    text-align: center;
}

.menu-card h3 {
    text-align: center;
    font-weight: bold;
}

.name-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.add {
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    width: 40px;
    bottom: 10px;
    right: 10px;
}

.cart {
    padding-bottom: 100px;
}

.cart-contents h2 {
    color: black;
}

.cart {
    display: flex;
    justify-self: center;
    margin-top: 20px;
}

.cart-contents {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}
