body {
    background-color: #DCD1BE;
}

.text {
    font-size: 30px;
    font-weight: 700;
    color: black; 
}

.hero {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  text-align: center;
  color: #fff;
}

.hero h1 {
  color: black;
  font-weight: bold;
  font-size: 32px;
}

.reviews-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}

.review-card {
  background-color: #FAFAFA;
  border-radius: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.stars {
  color: gold;
  font-size: 20px;
  margin-bottom: 10px;
}

.profile {
  margin-top: 15px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  margin-top: 5px;
  font-weight: bold;
}

.submit-review {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 20px;
}

.submit-review button {
  background-color: #4f180b;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: 40px;
  font-size: 17px;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.review-form label {
  margin: 10px 0;
  font-weight: bold;
}

.review-form textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.review-form select {
  padding: 8px;
  border-radius: 10px;
}

.review-form button {
  background-color: #4F180B;
  color: white;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.review-form button:hover {
  background-color: #7a2815;
}
